* {
	padding: 0px;
	margin: 0px;
	font-family: Century, sans-serif; 
}

button {
	margin: 2px 0px;
	padding: 15px 24px;
	font-size: 19px;
}

button:hover{
  cursor: pointer;
}

.calculadora {
	background-color: #e2e2e2;
	width: fit-content;
	margin: auto;
	margin-top: 200px
}

.pantalla {
	padding: 18px 18px 0px 18px;
}

#resultado {
	background-color: #666;
	color: #eee;
	padding: 6px;
	font-family: monospace;
  font-size: 20px;
  height: 35px;
  width: 242px;
}

.botones {
	display: flex;
}

.numeros {
	padding: 18px 5px 18px 18px;
}

.numeros div{
  text-align: center;
}

.numeros div button {
	border: 0px;
	transition: all 0.09s
}

.btn-color-blue{
  background-color: #3495eb;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  border: none;
}

.operaciones {
	padding: 18px 18px 18px 0
}

.operaciones button {
	display: block;
	width: 60px;
	height: 60px;
	padding: 9px 15px;
	background-color: #3dd8e3;
	color: #fff;
  border: none;
  margin-bottom: 4px;
}

.codigo{
  margin: 289px 16px 18px 16px;
  position: relative;
  margin-left: -272px;
}

.codigo #imprimir{
  background-color: #d69636;
  color: white;
  width: 255px;
  left: 0;
  bottom: 0;
}